.button {
    display: flex;
    justify-content: center;
    margin: 40px;
}

button {
    padding: 32px;
    font-size: 64px;
}

.container {
    margin: auto;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
}

.container > div {
    box-sizing: border-box;
}
